{%  extends 'base.html.twig' %}


{% block title %}
    <title>{{ "Les articles"}}</title>
{% endblock %}


{% block main %}
    {% for article in articles %}
        <article class="full-list">
                <h2>{{ article. title }}</h2>
                <p>{{ article. author }}</p>

            <div class="moove-bouton">
            <a class="bouton" href="{{ path('admin_article', {'id':article.id}) }}">OUVRE TOI</a>
                <a href="{{ path('admin_insert_article')}}">Créer article</a>
                <a href="{{ path('admin_delete_article', {'id':article.id})  }}">Suprimmer un article</a>
                <a href="{{ path('admin_update_article', {'id': article.id }) }}">Modifier cet article</a>

            </div>

        </article>
    {% endfor %}

{% endblock main %}






