
{% extends 'base.html.twig' %}


{% block main %}

<ul class="ul-articles">
    <li class="lien-articles"><a href="{{ path('admin_all-article')}}">Liste des articles</a></li>
    <li class="lien-articles"><a href="{{ path('admin_list_categories')}}">Liste des categories</a></li>
    <li class="lien-articles"><a href="{{ path('admin_insert_category')}}">Créer des categories</a></li>


</ul>

{% for article in articles %}
<article class="accueil">


        <h2>{{ article. title }}</h2>
        <p>{{ article. author }}</p>

</article>
{% endfor %}

{% endblock %}
    {% block footer %}
        <p>Accueil</p>
    {% endblock %}

