
{% extends 'base.html.twig' %}


{% block main %}

<ul class="ul-articles">
    <li class="lien-articles"><a href="{{ path('all-article')}}">Liste des articles</a></li>
</ul>

{% for article in articles %}
<article class="accueil">


        <h2>{{ article. title }}</h2>
        <p>{{ article. description }}</p>
        <p>{{ article. author }}</p>
        <img src="{{ article. image }}" alt="">

</article>
{% endfor %}

{% endblock %}
    {% block footer %}
        <p>Accueil</p>
    {% endblock %}

